<%%= simple_form_for(<%= "[:#{prefix}, @#{singular_table_name}]" %>) do |f| %>
<% attributes.each do |attribute| -%>
  <div class="row">
    <div class="col-sm-6">
    <%- if attribute.reference? -%>
      <%%= f.input :<%= attribute.column_name %> %>
    <%- else -%>
      <%%= f.input :<%= attribute.name %> %>
    <%- end -%>
    </div>
  </div>
<% end -%>
  <%%= admin_submit_btn(f) %>
<%% end %>
