<%%= back_link 'Back to all <%= plural_table_name %>', <%= prefixed_index_helper %>_path %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <%%= new_or_edit(@<%= singular_table_name %>) %> <%= singular_table_name %>
  </div>
  <div class="panel-body">
    <%%= render 'form' %>
  </div>
</div>
